<form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label for="c-imagewidth" class="control-label col-xs-12 col-sm-2">{:__('casetitle')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" name="row[casetitle]"  id="c-imagewidth" class="form-control" required="" />
            <input type="hidden" name="row[builder]"  id="c-imagewidth" class="form-control"  value="{$admin.username}" />
        </div>
    </div>
    <div class="form-group">
        <label for="c-type" class="control-label col-xs-12 col-sm-2">{:__('demand')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-type" data-rule="required" class="form-control selectpicker" name="row[demand]">
            {foreach $demands as $demand}
                <option value="{$demand}" name="row[demand]"{/if} >{$demand}</option>
            {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="c-type" class="control-label col-xs-12 col-sm-2">{:__('assignTo')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-type" data-rule="required" class="form-control selectpicker" name="row[assignTo]">
            {foreach $assignToer as $assignTo}
                <option value="{$assignTo}" name="row[assignTo]" {if condition="$admin.username eq $assignTo"} selected="selected" {/if} >{$assignTo}</option>
            {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="c-imagewidth" class="control-label col-xs-12 col-sm-2">{:__('priority')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-type" data-rule="required" class="form-control selectpicker" name="row[priority]">
                <option value="3"  >3</option>
                <option value="2"  >2</option>
                <option value="1"  >1</option>
                <option value="0" selected="selected" >0</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="c-imagewidth" class="control-label col-xs-12 col-sm-2">{:__('platform')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-type" data-rule="required" class="form-control selectpicker" name="row[platform]">
                <option value="2" selected="selected" >{:__('Android and iOS')}</option>
                <option value="Android"  >{:__('Android')}</option>
                <option value="iOS"  >{:__('iOS')}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="c-imageheight" class="control-label col-xs-12 col-sm-2">{:__('precondition')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea type="text" name="row[precondition]" data-rule required class="form-control"  rows="2"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="c-imageheight" class="control-label col-xs-12 col-sm-2">{:__('steps')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea type="text" name="row[steps]" data-rule required class="form-control"  rows="10"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="c-imageheight" class="control-label col-xs-12 col-sm-2">{:__('expects')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea type="text" name="row[expects]" data-rule required class="form-control"  rows="10"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="c-imageheight" class="control-label col-xs-12 col-sm-2">{:__('remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea type="text" name="row[remarks]" data-rule required class="form-control"  rows="5"></textarea>
        </div>
    </div>
    <div class="form-group hide layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
