<div class="col-md-4" style="width: 45%;float: center">
<div class="box box-success">
<div class="panel-heading">{:__('edit iteration')}</div>
<div class="panel panel-default panel-intro" >
<div class="panel-body">
<form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label for="c-imagewidth" class="control-label col-xs-12 col-sm-2">{:__('version number')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" name="vnumber"  id="c-imagewidth" class="form-control"  value="{$iteration.vnumber}" />
        </div>
    </div>
    <div class="form-group">
        <label for="c-imageheight" class="control-label col-xs-12 col-sm-2">{:__('remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea type="text" name="remark" data-rule  class="form-control"  rows="5">{$iteration.remark}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="content" class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('status', ['normal'=>__('Normal'), 'hidden'=>__('Hidden')], $iteration['status'])}
        </div>
    </div>
    <div class="form-group">
        <label for="c-imageheight" class="control-label col-xs-12 col-sm-2"></label>
        <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
        <a type="text" class="btn btn-default btn-embossed" href="{:url('index')}">{:__('Back')}</a>
    </div>
</form>
</div>
</div>
</div>
</div>