<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="bs-bars pull-right">
                        {:build_radios('platform', ['iOS'=>'iOS&nbsp;&nbsp;&nbsp;', 'Android'=>'Android&nbsp;&nbsp;&nbsp;'])}
                        <button id="btn" type="button" class="btn btn-success" value="iOS" >{:__('OK')}</button>
                    </div>
                <div  class="fixed-table-container">
                <div id="echarts" style="width: 800px;height:500px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

